body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: aliceblue;
  height: 100vh;
}

label {
  padding-bottom: 4px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2%;
  width: 60%;
  background: hsl(0%, 0%, 0.60);
  backdrop-filter: blur(10px);
}

.title {
  margin-top: 2.5%;
}

#btnRegister,#btnLogin{
  width: 45%;
 
}

.btn-wrapper{
  align-items: center;
  justify-content: center;
  gap: 10px;
}
form {
  margin: 5%;
}
 .primaryBtn{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid skyblue;
  padding: 14px 40px;
  outline: none;
  border-radius: 14px;
  transition: 0.5s ease-in-out;
  cursor: pointer
}

.primaryBtn:hover{
  background-color:skyblue;
  color: #fff;
  transform: scale(1.1);
}

